@use 'backend' as *;

/* HEADER */
:is(#{c(main themeDark)}, #{c(main themeLight)}) {
  #{c(header themed)} {
    background: hsl(from cv('shading.bg') h s l/calc(cv('shading.percent') * 0.5));
  }
  #{c(header dot)} {
    display: none;
  }
}
#{c(header children)} {
  &::after {
    display: none;
  }
}

#{c(header header)} {
    border-bottom-color: var(--neon-red-color);
}

#{c(header children)} {
    border-bottom-color: var(--main-color);
}

// NICKNAME
#{c(header akaBadge)} {
  background: cv('color.main');
}

// SEARCH
#{c(header searchBar)} {
  background-color: cv('shading.input.bg');
  border-radius: var(--radius-none);
  &:focus-within {
    border-bottom-color: cv('color.main');
  }
}
#{c(header searchFilter)},
#{c(header searchAnswer)} {
  background: cv('color.main');
}
#{c(header searchFilter)} {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
#{c(header searchAnswer)} {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
