@use 'backend' as *;

// SCROLLBAR
#{c(scroller auto)} {
  &::-webkit-scrollbar {
    width: 14px;
  }

  &::-webkit-scrollbar-thumb,
  &::-webkit-scrollbar-track {
    border: 3px solid transparent;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }
}

#{c(scroller thin)} {
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb,
  &::-webkit-scrollbar-track {
    border: 3px solid transparent;
  }
}

:is(#{c(scroller auto)}, #{c(scroller thin)}) {
  &::-webkit-scrollbar-thumb {
    background-color: cv('color.main');

    &:active {
      background-color: cv('color.hover');
    }
  }
}

::-webkit-scrollbar {
  width: 4px !important;
  height: 4px !important;
}

::-webkit-scrollbar-thumb {
  border-radius: 0 !important;
  background: var(--main-color) !important;
}