@use 'backend' as *;

#{c(checkbox option)}[data-selected] {
  &,
  &:hover:not([data-disabled]) {
    #{c(checkbox indicator)} {
      border-color: cv('color.main');
      background-color: transparent;
    }
  }
}
