@use 'backend' as *;

#{c(radio base)} {
  stroke:var(--interactive-active);
  stroke-width: 4;
}
// SELECTED
:is(#{c(radio groupOption)}, #{c(radio standaloneIndicator)}) {
  &[data-selected] {
    :is(#{c(radio base)}, #{c(radio fill)}) {
      fill: none;
      stroke:var(--interactive-active)
    }
    &:not([data-disabled]):hover {
      :is(#{c(radio base)}, #{c(radio fill)}) {
        fill: none;
        stroke: var(--interactive-active)
      }
    }
  }
}
