@use 'backend' as *;

//  inline styles

#{c(switch indicator)}:not([style*='background-color: rgba(0, 0, 0, 0.12)']) {
  background: cv('color.main') !important;
  &#{c(switch checked)} {
    background: cv('color.main') !important;
    path {
      fill: cv('color.main');
    }
  }
}