@use 'backend' as *;

/* TAB */
// TOP
#{c(tab top)} {
  #{c(tab item)} {
    --selected-tab-item-color: var(--hsl-hover-color);

    &#{c(tab selected)} {
      box-shadow: inset 0px 0px 0px 1px var(--neon-blue-color);
      color: var(--neon-blue-color);
      border-radius: 0;
      border-bottom-right-radius: 10px;
    }
  }
}

// PILL
:is(#{c(tab topPill)}, #{c(tab side)}) {
  #{c(tab themed)} {
    &#{c(tab item)} {
      &:hover:not(#{c(tab disabled)}) {
        box-shadow: inset 0px 0px 0px 1px var(--neon-blue-color);
        color: var(--neon-yellow-color);
        border-radius: 0;
        border-bottom-right-radius: 10px;
      }

      &#{c(tab selected)} {
        box-shadow: inset 0px 0px 0px 1px var(--neon-blue-color);
        color: var(--neon-blue-color);
        border-radius: 0;
        border-bottom-right-radius: 10px;

        &:hover:not(#{c(tab disabled)}) {
          background-color: cv('color.main');
        }
      }
    }
  }
}


// SIDE TAB HEADER
// mainly in settings
#{c(tab header)} {
  color: cv('color.main');
  display: flex;
  align-items: left;
  justify-content: start;
}

#{c(tab header)} {
  font-size: 15px;
}