@use 'backend' as *;

#{c(text textNormalDefaultColor)} {
    color: var(--normal-text);
}

#{c(chat messageContents)} {
    color: var(--message-text-color);
}

#{c(chat messageContents)} a {
    color: var(--message-link-color);
}