@use 'backend' as *;

/* CATEGORY */
#{c(sidebar server category mainContent)} {
  position: relative;
  box-sizing: border-box;
  height: 34px;
  padding-right: 8px;
  padding-left: 16px;
  box-shadow: inset 0px 0px 0px 1px var(--light-neon-red-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: default;
  border-bottom-right-radius: 10px;
  font-weight: bold !important;
  margin-bottom: 15px;
  background: var(--dark-primary-color);
}

#{c(sidebar server category children)} {
  margin-left: 6px;
}

#{c(sidebar server category addButtonIcon)} {
  color: cv('color.main');
}

// COLLAPSED
#{c(sidebar server category collapsed)} {
  #{c(sidebar server category name)} {

    &::before,
    &::after {
      flex-grow: 0;
    }
  }
}

#{c(sidebar server category children)} svg {
  color: var(--neon-yellow-color);
}

#{c(sidebar server category name)} {
  color: var(--light-neon-red-color);
  font-weight: 700;
}

#{c(sidebar server category wrapper)} {

  // MUTED
  &#{c(sidebar server category muted)} {
    :is(#{c(sidebar server category name)}, #{c(sidebar server category addButtonIcon)}) {
      color: cv('color.main');
      opacity: 0.5;
    }
  }

  // HOVER
  &:is(&, #{c(sidebar server category muted)}) {
    &:hover {
      #{c(sidebar server category name)} {
        color: cv('color.hover');

        &::before {
          background: linear-gradient(to left, cv('color.hover') 50%, transparent);
        }

        &::after {
          background: linear-gradient(to right, cv('color.hover') 50%, transparent);
        }
      }

      #{c(sidebar server category addButtonIcon)} {
        color: cv('color.hover');
      }
    }
  }
}

// ICONS
#{c(sidebar server category collapseIcon)} {
  columns: var(--neon-red-color);
}