@use 'backend' as *;

// FOCUS
#{c(main keyboardMode)} {
  #{c(guildList focusStroke)} {
    stroke: var(--focus-color);
    stroke-width: 4px;
  }
}

// GUILD LIST
#{c(guildList guilds)} {
  margin-bottom: var(--custom-app-panels-height);
  background: transparent;
  padding-top: 10px;
}

#{c(guildList wrapper)} {
  background: rgba(0, 0, 0, .5);
}

// PILL
#{c(guildList pillItem)} {
  box-shadow: 0 0 3px 1px cv('color.main');
  background-color: var(--main-color);
}
#{c(guildList pillDiscover)} {
  bottom: 0;
}

// HOME BUTTON
#{c(guildList homeWrapper)} {
  background-color: cv('shading.card');
  > svg {
  // > so it wont affect group dms
    width: 100%;
    height: 100%;
    background: cv('home.icon') center/cv('home.size') no-repeat;
  }
  path {
    display: none;
  }
}
#{c(guildList iconWrapper)} {
  &:hover {
    #{c(guildList homeWrapper)} {
      box-shadow: inset 0px 0px 0px 1px var(--neon-yellow-color);
      color: var(--neon-yellow-color);
      border-radius: 10px;
    }
  }
  &#{c(guildList selected)} {
    #{c(guildList homeWrapper)} {
      background-color: transparent;
    }
  }
}

#{c(guildList wrapper)}{
  background: var(--darker-primary-color);
}

// GUILD ICON
#{c(guildList guildIcon)} {
  background-color: cv('shading.card');
}

// ADD GUILD/DISCOVER BUTTONS
#{c(guildList bottomButton)} {
  background-color: cv('shading.card');
  &#{c(guildList bottomButtonSelected)} {
    background: cv('color.main');
  }
  &:hover {
    &:not(#{c(guildList bottomButtonDisabled)}) {
      background: cv('color.hover');
    }
  }
}

// NEW MENTION
#{c(guildList mention mention)} {
  background: cv('color.main');
  &:active {
    background: cv('color.main');
  }
}

// UPPERBADGE
#{c(guildList iconBadge)} {
  background: cv('shading.popout');
  &#{c(guildList participating)} {
    background: cv('color.main');
  }
}
